<span class="glyphicon pointer"
  ng-class="{'glyphicon-plus': $ctrl.isAdd, 'glyphicon-pencil': !$ctrl.isAdd}"
  ng-click="$ctrl.showForm()" aria-hidden="true"></span>
<div class="persona-form" ng-show="$ctrl.isEditing">
  <form ng-submit="$ctrl.action()">
    <div class="form-group">
      <input type="text" ng-model="$ctrl.persona.firstName" class="form-control" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <input type="text" ng-model="$ctrl.persona.lastName" class="form-control" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <input type="email" ng-model="$ctrl.persona.email" class="form-control" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="text" ng-model="$ctrl.persona.gender" class="form-control" placeholder="Gender"/>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
        Add
      </button>
    </div>
    <div class="form-group">
      <button class="form-control" ng-click="$ctrl.hideForm()">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> </span>
        Cancel
      </button>
    </div>
  </form>
</div>
