<div class="container-fluid">
  <div class="container persona-container">
    <div class="persona" ng-repeat="persona in home.personas">
      <span class="bg-info"> {{ persona.email }} </span>
      <persona-detail persona="persona" is-add='false' action="home.update"></persona-detail>
    </div>
    <div class="persona" ng-click="home.showForm()" ng-mouseleave="home.hideForm()">
      <persona-detail persona="" is-add='true' action="home.addPersona()"></persona-detail>
    </div>
  </div>
</div>
